.navbarul {
list-style-type: none;
margin: 0;
padding: 0;
}
.navbarli {
float: right;
padding: 9px 10px;
}
body {
  font-family: monospace;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #000000;
}
h2 {
  margin-bottom: 0;
}
p {
  margin-top: 0;
}
a:link {
  color: #7ed7ff;
}
a:hover {
  color: #FF6666;
}
